
/* Your CSS Code here. */
.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.red, .green, .yellow {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
